/*
 * Coffee & Chess Stylesheet
 *
 * Author: Ivo Janssen (foxxyz)
 * http://github.com/foxxyz/coffeechess
 * Demo: http://playchess.once.today
 */
@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Italianno);

* {
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	color: #000;
	font-family: Arial, sans-serif;
}

h1 {
	font-size: 3em;
	@include text-shadow(0 0 5px #fff);
}

.promotion {
	background-color: #5f5f5f;
	color: #fff;
	top: 50%;
	position: fixed;
	left: 50%;
	margin-left: -25%;
	width: 50%;
	height: 100px;
	margin-top: -50px;
	padding: 1em 0;
	z-index: 10;
	opacity: .9;
	text-align: center;
	display: none;
	span {
		font-size: 3em;
		&:hover {
			cursor: pointer;
			@include text-shadow(#fff 0px 0px 10px);
		}
	}
}

#menu {
	font-family: Italianno, sans-serif;
	top: 5%;
	position: fixed;
	left: 50%;
	margin-left: -25%;
	width: 50%;
	z-index: 10;
	opacity: .9;
	text-align: center;
	opacity: 0;
	&.active {
		opacity: 1;
	}
	&.transition {
		@include transition(opacity 3s);
	}
	span {
		background-color: #5f5f5f;
		color: #fff;
		font-size: 1.5em;
		@include border-radius(.4em);
		@include box-shadow(0 3px 4px #000);
		width: 120px;
		height: 1em;
		margin: 0 auto;
		display: block;
		cursor: pointer;
		padding: .2em 0 .3em;
		&:hover {
			background-color: #999;
		}
	}
}

#perspectivewrapper {
	@include perspective(600px);
}

#board div {
	width: 1em;
	height: 1em;
	float: left;
	background-color: #96631A;
	color: inherit;
	&:nth-child(9n - 8), &:nth-child(9n - 6), &:nth-child(9n - 4), &:nth-child(9n - 2), &:nth-child(9n + 17), &:nth-child(9n + 33), &:nth-child(9n + 49) {
		background-color: #F19C23;
		color: inherit;
	}
	&:nth-child(9n + 25), &:nth-child(9n + 41), &:nth-child(9n + 57) {
		background-color: #96631A;
		color: inherit;
	}
	@include transition(transform 120s);
}

#game {
	font-size: 4em;
	width: 8em;
	height: 8em;
	margin: .5em auto;
	border: outset 1em #494949;
	position: relative;
	@include transform-style(preserve-3d);
	@include user-select(none);

	&.transition {
		@include transition(transform 2s);
	}

	&.draw {
		border: double 1em #888;

		&:after, &:before {
			content: 'Draw';
			font-family: Italianno, sans-serif;
			color: #d35050;
			position: absolute;
			left: 2em;
			width: 4em;
			text-align: center;
		}

		&:after {
			top: -2.5em;
		}

		&:before {
			bottom: -2.5em;
		}
	}

	&.in_check {
		border: double 1em #000;

		&:after, &:before {
			content: 'Check';
			font-family: Italianno, sans-serif;
			color: #d35050;
			position: absolute;
			left: 2em;
			width: 4em;
			text-align: center;
		}

		&:after {
			top: -2.5em;
		}

		&:before {
			bottom: -2.5em;
		}

		&.mate {
			&:after, &:before {
				content: '-Checkmate-'
			}
			#board div {
				&:nth-child(7n) {
					@include transform(translateZ(-10em));
				}
				&:nth-child(7n+1) {
					@include transform(translateZ(-25em));
				}
				&:nth-child(7n+2) {
					@include transform(translateZ(-7em));
				}
				&:nth-child(7n+3) {
					@include transform(translateZ(-19em));
				}
				&:nth-child(7n+4) {
					@include transform(translateZ(-34em));
				}
				&:nth-child(7n+5) {
					@include transform(translateZ(-47em));
				}
				&:nth-child(7n+6) {
					@include transform(translateZ(-14em));
				}
			}
		}
	}
}

#pieces span, #possible_moves span {
	display: block;
	width: 1em;
	height: 1em;
	line-height: 1em;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	@include transition(transform .2s);
	@include transform(translateZ(.06em));
}

#pieces span.upright, #possible_moves.upright span {
	@include transform(rotateX(-90deg) rotateY(0deg) translateY(-.5em));
}

#pieces {
	.active span:hover {
		text-shadow: #fff 0px 0px 20px;
	}
	#black {
		color: #000;
		background-color: inherit;
		text-shadow: 0 0 3px #fff;
	}
	#white {
		color: #fff;
		background-color: inherit;
		span {
			top: 7em;
		}
		.pawn {
			top: 6em;
		}
	}
	.bishop {
		left: 2em;
		+ .bishop {
			left: 5em;
		}
	}
	.king {
		left: 4em;
	}
	.knight {
		left: 1em;
		+ .knight {
			left: 6em;
		}
	}
	// disclaimer: this is bad.
	.pawn {
		top: 1em;
		+ .pawn {
			left: 1em;
			+ .pawn {
				left: 2em;
				+ .pawn {
					left: 3em;
					+ .pawn {
						left: 4em;
						+ .pawn {
							left: 5em;
							+ .pawn {
								left: 6em;
								+ .pawn {
									left: 7em;
								}
							}
						}
					}
				}
			}
		}
	}
	.queen {
		left: 3em;
	}
	.rook + .rook {
		left: 7em;
	}
	.selected {
		@include text-shadow(#fff 0px 0px 20px);
	}
}

#possible_moves {
	span {
		opacity: .1;
		&:hover {
			opacity: .3;
		}
	}
	.capture {
		background-color: #f00;
		opacity: .3;
		&:hover {
			opacity: .5;
		}
	}
}
